{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<link href="{% static 'css/c3/c3.css' %}" rel="stylesheet">
<!-- Load d3.js and c3.js -->
<script src="{% static 'js/d3/d3v3.min.js'%}" charset="utf-8"></script>
<script src="{% static 'js/c3/c3.min.js'%}"></script>
<h3 class="h3"> QRadar Dashboard </h3>
    {{ success }}
<div class="container-fluid">
     <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> Events by category</div>
                    <div class="panel-body ">

                        <div id="events_by_category">

                            <script>
                            var data = {{ success | safe }};

                            var chart = c3.generate({
                            bindto: '#events_by_category', data: {
                                json:
                                    data.events_by_category.data,
                                keys: {
                                       x: data.events_by_category.x, // it's possible to specify 'x' when category axis
                                        value: ['COUNT'],

                                    },
                                    type: data.events_by_category.chart_type,
                                },
                                axis: {
                                    x: {
                                       type: 'category'
                                    }
                                }
                        });
                        </script>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> Traffic by event source</div>
                    <div class="panel-body ">
                        <div id="chart2">
                            <script>
                                var chart = c3.generate({
                                bindto: '#chart2',
                                    data: {
                                  columns: [
                                    ['Firewall', 300, 250, 290, 400, 250, 280],
                                    ['Active Directory', 50, 20, 10, 40, 15, 25],
                                      ['Linux servers', 91, 30, 45, 50, 60, 80],
                                      ['Routers', 300, 240, 310, 210, 100, 200],
                                      ['Web proxy', 500, 520, 610, 540, 715, 625],

                                  ],
                                        type: 'spline',
                                  axes: {
                                    data2: 'y2'
                                  },
                                  types: {
                                    'data2': 'bar' // ADD
                                  }
                                },
                                axis: {
                                  y: {
                                    label: {
                                      text: 'Events/second',
                                      position: 'outer-middle'
                                    }
                                  },
                                  y2: {
                                    show: true,
                                    label: {
                                      text: 'Bytes/second',
                                      position: 'outer-middle'
                                    }
                                  }
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> QRadar Offense Summary</div>
                    <div class="panel-body ">
                        <div id="chart3">
                            {{ qradar_offense }}
                        </div>

                    </div>
                </div>
            </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> Plotly graph</div>
                    <div class="panel-body ">
                        <div id="chart4"></div>
                    </div>
                </div>
            </div>
     </div>
</div>
<script>
    var data1= {{ data1| safe }};
    var convertedData = [];
        data1.forEach(function(item){
        convertedData.push([item.key, item.doc_count]);
    });
    var chart5 = c3.generate({
        bindto: '#chart5',
        data: {
            columns: convertedData,
            type: 'donut',
            onclick: function(e) { alert(e.value); }
        }
    });
</script>
<script>
    var data2= {{ data2| safe }};

    var chart4 = c3.generate({
        bindto: '#chart4',
        data: {
            json: data2,
            keys : {},

        }
    });
</script>

    <script>
    var data3= {{ qradar_offense| safe }};

    var chart3= c3.generate({
        bindto: '#chart3',
        data: {
        json: data3,
        type: 'bar'

    }
    });
</script>

{% endblock %}