{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    {{ request.POST.host }}
    {{ request.POST.username }}
    {{ request.POST.password }}


    {% if outcome == 'error' %}
        <h2 class="h2"> {{ error }}</h2>
    {% else %}
        <h1> McAfee response summary</h1>
        <table id="mcafee_systems_table" class="display" width="100%"></table>

   {% endif %}
    <hr>
    Data {{ data }} <br>
    Outcome {{ outcome }}<br>
    Error {{ error }}<br>
    Success {{ success }}<br>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

    <script>
$(document).ready(function() {
    var data = {{ success | safe }}
        console.log(data);
    $('#mcafee_systems_table').DataTable({
        data: data,
        columns: [
            {title: "ComputerName", data: "ComputerName"},
            {title: "OS", data: "OS"},
        ],
    });
});
    </script>
{% endblock %}