{% extends 'base.html' %}
{% load static %}
<script>
        NProgress.start();
</script>

{% block main_content %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.6/bokeh.min.css" type="text/css" />
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.6/bokeh.min.js"></script>
    {{ script | safe  }}

 <h3 class="h3"> Executive summary </h3>
<div class="container-fluid">
     <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> Vulnerability status</div>
                <div class="panel-body ">
                    {{ div  | safe}}
                </div>
            </div>
        </div>

         <div class="col-sm-3">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> Vulnerability status</div>
                <div class="panel-body ">
                    {{ div  | safe}}
                </div>
            </div>
         </div>

     </div>
</div>

 {% endblock main_content %}