{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <h2></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>AWS Instance ACL</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div id="loading">Loading data, please wait...
                            <img height=80 width=80 src="{% static 'images/loading.gif' %} "></img>
                        </div>
                        <table id="table_instance_acl" class="display" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

    <script>
        function f2() {

            $.ajax({
                url: '/aws/insecure_instance_acl_json',
                success: function (result) {
                    var data = result.success;
                    $('#table_instance_acl').DataTable({
                        data: data,
                        columns: [
                            {
                                title: "ID", data: "instance_id",
                                "render": function (data, type, row, meta) {
                                    if (type === 'display') {
                                        data = '<a href=/aws/get_instance_acl/' + data + '>' + data + '</a>';
                                    }

                                    return data;
                                }
                            },
                            {title: "Instance", data: "instance_name"},

                            {title: "Security Group", data: "security_group_name"},
                            {title: "Insecure", data: "insecure"},
                            //{ title: "ACL-Insecure?", data: "acl_list", render: "[,].insecure"},
                            //{ title: "ACL-ToPort", data: "acl_list", render: "[, ].toport"},
                            //{ title: "ACL-IP_Range", data: "acl_list", render: "[0].iprange"},


                        ]
                    });
                    $("#loading").hide();
                }
            });
        }
        window.onload = f2;


    </script>

{% endblock %}