{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block main_content %}
    {% if Error %}
        <h2 class="h2"> {{ Error }}</h2>
    {% else %}
    <div class="col-md-12 col-sm-12 col-xs-12">
    <h2>XForce result</h2>
    <div class="x_panel">
        <div class="x_title">
            <h2>Query: {{ success.ip }} </h2>

                <div class="clearfix"></div>
        </div>
    {{ table | safe}}
    </div>





{% endif %}
{% endblock %}
